$colors: (
  dark: #292623,
  offdark: mix(#f7f5f0, #292623, 10), 
  halfdark: mix(#f7f5f0, #292623, 25), 
  mid: mix(#f7f5f0, #292623), 
  halflight: mix(#f7f5f0, #292623, 75), 
  offlight: mix(#f7f5f0, #292623, 95), 
  light: #f7f5f0,
  red: #ef5650,
  purple: #7f61aa,
  blue: #5773b8,
  teal: #4ebd95,
  yellow: #f2ca15,
);

@function color($name) {
  @return map-get($colors, $name);  
}