$widths: (
  huge: size(column, 24),
  wide: size(column, 18),
  default: size(column, 12),
  text: size(column, 8),
  narrow: size(column, 8),
  tiny: size(column, 5) 
);

@function width($name) {
  @return map-get($widths, $name);  
}